/* GLOBAL */ 
/* ::-webkit-scrollbar {display:none;} */
:fullscreen, ::backdrop { background-color:#212529;}
* {margin:0; padding:0; box-sizing:border-box; -webkit-tap-highlight-color:transparent; font-family: Tahoma, Arial, Helvetica, sans-serif;}
.w-10 {width:10%}.w-20{width:20%}.w-30{width:30%}.w-40{width:40%}.w-60{width:60%}.w-70{width:70%}.w-80{width:80%}.w-90{width:90%}
.h-10 {height:10%}.h-20{height:20%}.h-30{height:30%}.h-40{height:40%}.h-60{height:60%}.h-70{height:70%}.h-80{height:80%}.h-90{height:90%}
.pointer {cursor: pointer;} .trns-03 {transition: 0.3s;} .rtl {direction: rtl;} .ltr {direction: ltr;}
button {border:none; border-radius:0.3rem; font-size:0.9rem; padding:0.2rem 0.5rem; width:min(120px,30%);} button:hover {translate: 0 -1px}
.bi {cursor:pointer; font-size:1.5rem; display:flex; align-items:center; justify-content:center;}
.flex {display:flex; flex-direction:row;} .flex-column {display:flex; flex-direction:column;} .flex-center {display:flex; align-items:center; justify-content:center;}

/* ELEMENTS */
.app {position:relative; height:100vh; width:min(100vw,800px); overflow:hidden;}
.page {position:absolute; width:100%; height:100%; display:flex; flex-direction:column; transition:0.3s;}  .page-hide {translate:0 50px; z-index:-2; opacity:0;}
.mask {z-index:-5; opacity:0; transition: 0.3s;} .mask-show {z-index:9; opacity:1; background:rgba(0,0,0,0.7);}
.Modal {width:min(800px,90%); min-height:60%; max-height:80%; translate:0 50px; opacity:0; transition: 0.3s;} .modal-show {z-index:9; translate:0 -50px; opacity:1;}
.msgbox {width:min(460px,75%); min-height:25%; translate:0 50px; opacity:0; transition: 0.3s;} .msgbox-show {z-index:9; translate:0 -50px; opacity:1;}
.action {position:absolute; width:100%; bottom:-100%; min-height:25%; opacity:0; transition: 0.3s;} .action-show {z-index:9;bottom:-5%; opacity:1;}
.sidebar {position:absolute; width:80%; height:100%; right:-80%; opacity:0.5; transition: 0.3s;} .sidebar-show {z-index:9; right:0%; opacity:1;}
/* .sidebar-left {position:absolute; width:80%; height:100%; left:-80%; opacity:0.5; transition: 0.3s;} */
.toast-box {position:absolute; top:90%; z-index:-5; opacity:0; transition:0.8s;}  .toast-show {z-index:20; top:90%; opacity:1;}
.fab-btn {position:absolute; left:2rem; bottom:2rem; height:2.5rem; width:2.5rem; font-size:1.5rem; border:2px solid navy; border-radius:50%;}
.dropdown {position:relative; display:inline-block;}
.dropdown-content {display:none; position:absolute; min-width:160px; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); z-index:9; transition: 0.3s;}
.drop-item:hover {background-color: #ddd; color: black;}
.dropdown-show {display:block;}

/* APP */
.app {width:100vw; display:flex; flex-direction:column;}
.sidebar {width:min(400px,90%);}
a{text-decoration:none; color:rgb(0, 190, 117); font-weight:530; font-size: 1.2rem;}
[data-bs-theme=light] a{color:navy; font-weight:600;}
.side-div {width:30%;}
@media screen and (max-width: 600px) {.side-div {width:0px;}}